/* colors 
  stone: #EAE7DC
  tan: #D8C3A5
  gray: #8E8D8A
  light red: #E98074
  red: #E85A4F

  black: #0B0C10
  NAVY: #1F2833
  GRAY: #C5C6C7
  AQUA: 66FCF1
  TEAL: 45A29E
*/

canvas {
  background-color: #121c2b;
  min-width: 400px;
  min-height: 200px;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0B0C10;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: #0B0C10;
  padding: 0 50px;
  padding-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
}

/*HEADER*/

.burger {
  display: none;
  margin-right: 50px;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #66FCF1;
  border-radius: 10px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0B0C10;
  height: 10vh;
  width: 100%;
}

.nav-container img {
  height: 3.5em;
  margin-left: 50px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 30px;
}

li {
  list-style: none;
  margin: 0 20px;
}

li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: #66FCF1;
  text-decoration: none;
}

li a:focus {
  background: #c4c6c7;
  border-radius: 5px;
  padding: 5px;
  opacity: .5;
}

.log  {
  background: white;
  color: #1f2833;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 9px 9px 9px 0 rgb(58, 57, 48); 
}


/*MEDIA QUERY*/

@media (max-width: 900px) {
  .burger {
    display: block;
  }

  /* .navlinks {
    display: none;

  } */
  
  .navlinks.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: #0B0C10;
    width: 40%;
    transition: transform 0.5s ease-in;
  }

}

/*FOOTER*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0B0C10;
  color: #45a29e;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 50px; 
}

/*HOME AND ABOUT*/

.hero {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-top: 40px;
  padding: 20px;
}

.hero-title-text {
  margin: 30px;
  color: #66FCF1;
}

.hero-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #c4c6c7;
}

/*STATS PAGE*/

.info-container {
  padding: 20px 25px 20px 40px; 
  margin-top: 15px;
  border-bottom-style: solid;
  border-color: #E65D4F;
  display: flex;
  flex-direction: column;
}

.info {
  color: rgb(216, 188, 165);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.state-list {
  /*
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 2%; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
 
}

.state-list a:hover {
  color: #45A29E;
}

.state-list a {
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 5px;
  min-width: 20em;
}

.state-list a h3 {
  margin: 0;
}

.state-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50em;
}

.hero-image {
  animation: covidrotation 10s infinite linear;
  margin-right: 20px;
  max-width: 40%;
}

@keyframes covidrotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


/*STATE PAGE*/

.stats-outer-container{
  display: flex;
}

.stats-container-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: .2;
}
.stats-container-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: .8;
}
.historical-buttons {
  display: flex;
  margin: 10px;

}
.chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.state-contact{
  display: flex;
  align-items: center;
}
.state-notes {
  color: #c4c6c7;
  max-width: 30em;

}
.state-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

}
.state-meta a {
  color: #a99cbb;
  padding: 10px;
}
.state-notes-header {
  margin-bottom: .5em;
}

.total-stats {
  color: #45A29E;
}
.button-container a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  background: #c4c6c7;
  color: #1F2833;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 9px 9px 9px 0 rgb(58, 57, 48); 
}

.button-container a:active {
  background: #45A29E;
}

h1 {
  font-family: 'Noto Serif', serif;
  color: #66FCF1;
  font-size: 4em;
}

.state-list a {
  text-decoration: none;
  color: #c4c6c7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 5px;
}

.state-list {
  margin-top: 15px;
  height: 1340px;
}
/* 
h3 {
color: #45A29E;
font-family: 'Montserrat', sans-serif;
} */


h4 {
  color: #c4c6c7;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}


button {
  background: #c4c6c7;
  color: #1F2833;
  border-radius: 6px;
  height: 2em;
  width: 12em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin: 5px 5px;
}


/*PROFILE*/

.welcome {
  margin-bottom: 10px;
  font-size: 4em;
}

.edit-user-link {
  color: #E65D4F;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 50px;
  border-bottom-style: solid;
}

.saved-states-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.saved-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 10px 20px;
  border: 1px solid #45a29e;
  border-radius: 5px;
}

.saved-state a, h2 {
  margin: 0;
  color: #E65D4F;
  font-size: 1.3em;
  padding: 7px;
  font-family: 'Montserrat', sans-serif;
}

.profile-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-chart a {
  text-decoration: none;
  color: #c4c6c7;
}

.saved-state button {
  margin: 30px;
}

.state-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container { 
  padding: 0px 25px 20px 40px; 
  margin-top: 5px;
  text-align: center;
}

.login-page {
  text-align: center;
}

input[type=text], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 75%;
  background-color: #66FCF1;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.new-user {
  color: #66FCF1;
  text-align: center;

}

/*"Click here to register" prompt*/

.new-user a {
  color: #a99cbb;
  text-align: center;
  padding: 0px 0px 0px 10px;

}

h1 {
  font-family: 'Noto Serif', serif;
}

.login-page h4 {
  color: #45A29E;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;

}

.main h4 {
  color: #45A29E;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
}


