/* colors 
  stone: #EAE7DC
  tan: #D8C3A5
  gray: #8E8D8A
  light red: #E98074
  red: #E85A4F
*/

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EAE7DC;
  flex-grow: 1;  
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EAE7DC;
  padding: 0 20px;
}

.nav-container img {
  height: 90px;
  margin: 15px 0 15px 30px;
}

.hero {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 60px;
}

.hero-title-text {
  margin: 40px;
}

.hero-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgb(58, 57, 48);

}


.info-container {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  border-radius: 5px;
  padding: 20px 25px 20px 40px; 
  border-color: #EE6C4D;
  margin-top: 15px;
}



.state-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 630px;
  
}


.info {
  color: rgb(216, 188, 165);

}
/*
.button-container {

}

.form-container {

}

*/

nav a {
  margin: 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: #8E8D8A;
}

nav a:focus {
  background: #D8C3A5;
  border-radius: 5px;
  padding: 5px;
}

nav a:last-child  {
  background:#D8C3A5;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 9px 9px 9px 0 rgb(58, 57, 48); 
}

.state-list a, h3 {

  color:  rgb(26, 68,82);
  margin: 0px;
  
}

.state-list {
  margin-top: 15px;
}

footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #D8C3A5;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 50px; 
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

/* nav {


}
*/

h3 {
color: rgb(26, 68,82);
font-family: 'Montserrat', sans-serif;



}


h4 {
  color: rgb(58, 57, 48);
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

/*
button {


}
 */

