.App {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
  padding: 0 20px;
}

a {
  margin: 0 20px;
}

footer {
  text-align: center;
}